@page "/Delete/{id}"
@using Domain.Interfaces
@using Model.Model
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode
@inject IRepository<Machinery> MachineryRepository
@inject NavigationManager NavigationManager

<h3>Delete</h3>
<table>
    <thead>
    <tr class="bg-info">
        <th>Machinery-Id</th>
        <th>Label</th>
        <th>Function</th>
        <th>Compartment-Id</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>@machinery.MachineryId</th>
        <th>@machinery.Label</th>
        <th>@machinery.Function</th>
        <th>@machinery.CompartmentId</th>
    </tr>
    </tbody>
</table>

<button class="btn-danger" @onclick="async () => await DeletePage()">Delete</button>



@code{

    Machinery machinery = new Machinery();

    protected async override Task OnInitializedAsync(){

        await base.OnInitializedAsync();

        machinery = await MachineryRepository.ReadAsync(Id); 
    }

    private async Task DeletePage()
    {
        await MachineryRepository.DeleteAsync(machinery.MachineryId); 
        NavigationManager.NavigateTo("/Home");
    }
    
    [Parameter]
    public int Id { get; set; }

}

    

